function Main.main 0
push pointer 0
push constant 1000
call Array.new 2
pop static 0
push pointer 0
push constant 20
call Array.new 2
pop static 2
push constant 0
pop static 1
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push temp 0
pop pointer 1
pop that 0
push constant 0
push static 2
add
pop temp 0
push constant 0
not
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 255
and
push constant 0
eq
if-goto IF_TRUE_0
goto IF_FALSE_0
label IF_TRUE_0
push constant 0
push static 2
add
pop temp 0
push constant 0
push temp 0
pop pointer 1
pop that 0
goto IF_END_0
label IF_FALSE_0
label IF_END_0
label WHILE_EXP_0
push constant 0
push static 2
add
pop pointer 1
push that 0
push constant 0
not
eq
not
if-goto WHILE_END_0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push temp 0
pop pointer 1
pop that 0
push static 1
push constant 1
add
pop static 1
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push constant 1
sub
pop static 1
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 255
and
push constant 0
eq
if-goto IF_TRUE_1
goto IF_FALSE_1
label IF_TRUE_1
push constant 0
push static 2
add
pop temp 0
push constant 0
push temp 0
pop pointer 1
pop that 0
goto IF_END_1
label IF_FALSE_1
label IF_END_1
goto WHILE_EXP_0
label WHILE_END_0
push static 1
push constant 1
add
pop static 1
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push constant 1
add
pop static 1
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push constant 0
push static 2
add
pop temp 0
push constant 0
not
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 255
and
push constant 0
eq
if-goto IF_TRUE_2
goto IF_FALSE_2
label IF_TRUE_2
push constant 0
push static 2
add
pop temp 0
push constant 0
push temp 0
pop pointer 1
pop that 0
goto IF_END_2
label IF_FALSE_2
label IF_END_2
label WHILE_EXP_1
push constant 0
push static 2
add
pop pointer 1
push that 0
push constant 0
not
eq
not
if-goto WHILE_END_1
push static 1
push constant 1
add
pop static 1
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push constant 1
sub
pop static 1
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 255
and
push constant 0
eq
if-goto IF_TRUE_3
goto IF_FALSE_3
label IF_TRUE_3
push constant 0
push static 2
add
pop temp 0
push constant 0
push temp 0
pop pointer 1
pop that 0
goto IF_END_3
label IF_FALSE_3
label IF_END_3
goto WHILE_EXP_1
label WHILE_END_1
push static 1
push constant 1
add
pop static 1
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push constant 0
push static 2
add
pop temp 0
push constant 0
not
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 255
and
push constant 0
eq
if-goto IF_TRUE_4
goto IF_FALSE_4
label IF_TRUE_4
push constant 0
push static 2
add
pop temp 0
push constant 0
push temp 0
pop pointer 1
pop that 0
goto IF_END_4
label IF_FALSE_4
label IF_END_4
label WHILE_EXP_2
push constant 0
push static 2
add
pop pointer 1
push that 0
push constant 0
not
eq
not
if-goto WHILE_END_2
push static 1
push constant 1
sub
pop static 1
push static 1
push constant 1
sub
pop static 1
push pointer 0
push static 1
push static 0
add
pop pointer 1
push that 0
call System.printchar 2
pop temp 0
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
add
push temp 0
pop pointer 1
pop that 0
push static 1
push constant 1
add
pop static 1
push static 1
push constant 1
add
pop static 1
push static 1
push static 0
add
pop temp 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push temp 0
pop pointer 1
pop that 0
push static 1
push static 0
add
pop pointer 1
push that 0
push constant 255
and
push constant 0
eq
if-goto IF_TRUE_5
goto IF_FALSE_5
label IF_TRUE_5
push constant 0
push static 2
add
pop temp 0
push constant 0
push temp 0
pop pointer 1
pop that 0
goto IF_END_5
label IF_FALSE_5
label IF_END_5
goto WHILE_EXP_2
label WHILE_END_2
push constant 0
return
